body {
    overflow-x: hidden;
}

.shortcut-icons:hover {
    cursor: pointer;
}

.span-method {
    font-size: large;
    color: orange;
}

.span-request {
    color: white;
    cursor: pointer;
}

#custom-add-button {
    margin-left: 20px;
    font-size: larger;
    font-weight: bold;
    cursor: pointer;
}

#glyph-icon {
    margin-left: 40px;
}

.popup-window {
    position: absolute;
    z-index: 2;
    left: 20%;
    height: 30vh;
    width: 50%;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: none;
    border: 1px solid whitesmoke;
    background-color: rgb(58, 54, 58);
}

.menu {
    position: absolute;
    left: 18%;
    z-index: 2;
    cursor: pointer;
    width: 90px;
    justify-content: center;
    text-align: center;
    background-color: black;
    height: 80px;
    border-radius: 5px;
    display: none;
}

.menu li {
    list-style: none;
    margin-top: 5px;
}

.menu li:hover {
    color: whitesmoke;
    background-color: grey;
}

.requests-container:hover {
    background-color: black;
}

.http-request-saved-files-container {
    overflow: auto;
}

.folder-container {
    overflow: auto;
    padding: 5px;
    height: 630px;
}

.requests-container {
    max-height: 30px;
    max-width: 260px;
    margin-top: 10px;
    margin-left: 1px;
    overflow: hidden;
}

#rename-button,
#cancel-button {
    margin-right: 15px;
    color: black;
    outline: none;
    border: none;
    cursor: pointer;
    width: 80px;
    height: 22px;
}

#rename-intro {
    font-size: 1em;
}

glyphicon.glyphicon-trash:hover {
    cursor: pointer;
}

#file-search {
    height: 23px;
    color: white;
    background-color: black;
    outline: none;
    border: none;
}

#saved-requests {
    font: 20px;
    color: white;
}

#popup-input {
    background-color: black;
    outline: none;
    border: none;
    color: white;
}